<div class="fixed">
    <nav class="top-bar" data-topbar>
        <ul class="title-area">
            <li class="name">
                <%=link_to image_tag( "logo.jpg", size:"150x450"), root_path %>
            </li>
            <li>
                <%=%>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <div class="top-bar-section right">
            <ul>
                <%= render 'layouts/navigation_links' %>
            </ul>
        </div>
    </nav>

</div>